<h2>@<%= @bot %></h2>

<p><A href="http://twitter.com/<%= @bot %>">View on twitter</a></p>

<% if !@bot.verified %>
	<p><b>Not verified.<b/> Can't post tweets. Click <a href="/<%= @bot %>/verify">here</a> to verify.</p>
<% else %> 
	<form action="/<%= @bot %>/tweets" method="post">
		<textarea cols="50" rows="10" name="text"></textarea>
		<p><input type="submit" value="save" /></p>
	</form>
	
	<h3>Currently Scheduled</h3>
	
	<ul>
		<% @bot.unpublished_tweets.each do |tweet| %>
		<li><%= tweet.text %></li>
		<% end %>
	</ul>
	
<% end %>